<template>
  <v-layout row justify-center>
    <v-dialog v-model="exclude" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">Apagar o Professor?</v-card-title>
        <v-card-text>Tem certeza que deseja excluir o professor? <strong>{{form.nome}}</strong>?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click.native="exclude = false">Cancelar</v-btn>
          <v-btn color="error darken-1" flat @click.native="save" :loading="loading">Excluir</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" persistent width="800px">
      <v-btn slot="activator" icon dark>
        <v-icon dark>add</v-icon>
      </v-btn>
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        >
          Formulário de Professor
        </v-card-title>
        <v-container grid-list-sm class="pa-4">
          <v-layout row wrap>
            <v-flex xs6>
              <v-text-field
                placeholder="Nome"
                v-model="form.nome"
                autofocus
              ></v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                placeholder="Telefone"
                v-model="form.telefone"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs6>
              <v-text-field
                placeholder="Email"
                v-model="form.email"
              ></v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-select
                :items="academias"
                v-model="form.academia"
                item-text="nome"
                item-value="id"
                label="Academia"
              ></v-select>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn flat color="red darken-3" @click="dialog = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn flat color="green darken-3" @click="save" :loading="loading">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      dialog: false,
      exclude: false,
      form: {},
      config: {},
      loading: false
    }
  },
  computed: {
    ...mapState(['academias'])
  },
  methods: {
    ...mapActions([
      'load',
      'new',
      'update',
      'remove'
    ]),
    async show (config, form = null) {
      let academiaConfig = {
        state: 'academias',
        filters: {},
        url: 'api/academias/'
      }
      await this.load(academiaConfig)
      this.config = config
      this.form = form === null ? {
        nome: '',
        telefone: '',
        email: '',
        equipe: 0
      } : form
      this.dialog = true
    },
    delete (config, form) {
      this.config = config
      this.form = form
      this.exclude = true
    },
    async save () {
      this.loading = true
      this.config.data = this.form
      let update = this.form.hasOwnProperty('id')
      if (this.exclude) {
        await this.remove(this.config)
        this.exclude = false
      } else {
        if (update) {
          await this.update(this.config)
          this.dialog = false
        } else {
          await this.new(this.config)
          this.dialog = false
        }
      }
      this.loading = false
    }
  }
}
</script>
