<template>
  <v-layout justify-center align-center>
    <v-flex shrink xs11 text-center>
      <h1 tex>Obrigado pela inscrição</h1>
      <p>Sua inscrição foi efetuada com sucesso. Aguarde nosso time de confirmação entrar em contado.</p>
      <v-btn outline color="orange" to="inscricao">Nova inscrição</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'Confirmacao'
}
</script>

<style scoped>

</style>
