<template>
  <div id="equipes">
    <form-equipe ref="formEquipe"></form-equipe>
    <b-table striped
             hover
             stacked="sm"
             :busy="false"
             :fields="fields"
             :items="equipes">
      <template slot="actions" slot-scope="row">
        <v-btn small outline icon color="info" @click.stop="edit(row.item)">
          <v-icon small>edit</v-icon>
        </v-btn>
        <v-btn small outline icon color="error" @click.stop="remove(row.item)">
          <v-icon small>close</v-icon>
        </v-btn>
      </template>
    </b-table>
    <v-btn
      fab
      bottom
      right
      color="primary"
      dark
      fixed
      @click="showForm"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Equipe',
  data () {
    return {
      fields: [
        {key: 'id', label: '#', sortable: true},
        {key: 'nome', label: 'Equipe', sortable: true},
        {key: 'logo', label: 'Logo'},
        {key: 'actions', label: 'Opções'}
      ],
      config: {
        state: 'equipes',
        filters: {},
        url: 'api/equipes/'
      }
    }
  },
  computed: {
    ...mapState(['equipes'])
  },
  methods: {
    ...mapActions(['load']),
    showForm () {
      this.$refs.formEquipe.show(this.config)
    },
    remove (item) {
      this.$refs.formEquipe.delete(this.config, item)
    },
    edit (item) {
      this.$refs.formEquipe.show(this.config, item)
    }
  },
  created () {
    this.load(this.config)
  }
}
</script>

<style scoped>
  .v-btn--floating .v-icon {
    height: auto;
    width: auto;
  }
</style>
