<template>
  <div id="home">
    <login/>
    <template v-if="isLogged">
      <v-layout justify-center align-center>
        <v-flex shrink>
          <countdown end="September 09, 2018"/>
        </v-flex>
      </v-layout>
      <v-layout justify-center align-center>
        <v-flex shrink xs11>
          <v-form ref="form" v-model="valid" lazy-validation dark>
            <v-layout row text-center>
              <v-flex xs12 class="mt-2" v-if="!isAdmin">
                <h1><small>Prof. </small>{{professor.nome}} <small>({{professor.equipe_display}})</small></h1>
              </v-flex>
              <v-flex xs12 class="mt-2" v-else>
                <v-autocomplete
                  :items="professores"
                  :item-text="data => `${data.nome} - ${data.academia_display}`"
                  item-value="id"
                  hide-no-data
                  hide-details
                  v-model="form.professor"
                  label="Professor"
                ></v-autocomplete>
              </v-flex>
            </v-layout>
            <v-layout row class="mt-5">
              <v-toolbar dark color="black">
                <v-toolbar-title>Atletas</v-toolbar-title>
                <v-spacer></v-spacer>
                <form-atleta ref="formAtleta"/>
                <v-btn icon dark @click="showForm">
                  <v-icon dark>add</v-icon>
                </v-btn>
              </v-toolbar>
              <b-table striped
                       hover
                       :fields="fields"
                       :items="inscricoes">
                <template slot="absoluto" slot-scope="data">
                  <v-icon>{{data.value ? 'check' : 'close'}}</v-icon>
                </template>
                <template slot="actions" slot-scope="row">
                  <v-btn small outline icon color="error" @click.stop="remove(row.item)">
                    <v-icon small>close</v-icon>
                  </v-btn>
                </template>
              </b-table>
            </v-layout>
          </v-form>
        </v-flex>
      </v-layout>
    </template>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

const professorConfig = {
  state: 'professores',
  filters: {},
  url: 'api/professores/'
}

const inscricoesConfig = {
  state: 'inscricoes',
  filters: {},
  url: 'api/inscricoes/'
}

const euConfig = {
  state: 'professor',
  filters: {},
  url: 'api/professores/eu/'
}

export default {
  data () {
    return {
      form: {
        professor: null
      },
      fields: [
        {key: 'nome', label: 'Atleta', sortable: true},
        {key: 'sexo_display', label: 'Sexo'},
        {key: 'categoria_idade_display', label: 'Idade'},
        {key: 'faixa_display', label: 'Faixa'},
        {key: 'categoria_peso_display', label: 'Peso'},
        {key: 'absoluto', label: 'Absoluto'},
        {key: 'actions', label: 'Remover'}
      ],
      valid: true
    }
  },
  computed: {
    ...mapState(['professores', 'configuracoes', 'inscricoes', 'professor', 'user']),
    isAdmin () {
      return this.user === null ? false : this.user.is_superuser
    },
    isLogged () {
      return this.user !== null
    }
  },
  methods: {
    ...mapActions(['load']),
    showForm () {
      this.$refs.formAtleta.show({professor: this.isAdmin ? this.form.professor : this.professor})
    },
    remove (item) {
      this.$refs.formAtleta.delete(item)
    }
  },
  async mounted () {
    if (this.isLogged) {
      await this.load(euConfig)
      await this.load(professorConfig)
      await this.load(inscricoesConfig)
      if (this.isAdmin) {
        this.fields.push({key: 'professor_display', label: 'Professor', sortable: true})
      }
    }
  }
}
</script>
