<template>
  <div id="inscricao">
    <v-layout justify-center align-center>
      <v-flex shrink>
        <countdown end="September 09, 2018"/>
      </v-flex>
    </v-layout>
    <v-layout row justify-center>
      <v-container grid-list-sm class="pa-4">
        <v-layout row wrap>
          <v-flex xs12 md5>
            <v-text-field
              label="Nome"
              placeholder="seu nome completo"
              v-model="form.nome"
              :autofocus="true"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md5>
            <v-text-field
              label="Email"
              placeholder="seu email"
              v-model="form.email"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md2>
            <v-text-field
              label="Telefone"
              placeholder="seu contato"
              v-model="form.telefone"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12>
            <v-autocomplete
              :items="professores"
              :item-text="data => `${data.nome} - ${data.academia_display}`"
              item-value="id"
              hide-no-data
              hide-details
              v-model="form.professor"
              label="Professor"
            ></v-autocomplete>
          </v-flex>
        </v-layout>
        <v-layout row wrap class="mt-3">
          <v-flex xs6 md3>
            <v-select
              :items="sexos"
              v-model="form.sexo"
              item-text="nome"
              item-value="id"
              label="Sexo"
            ></v-select>
          </v-flex>
          <v-flex xs6 md3>
            <v-autocomplete
              :items="idades"
              item-text="nome"
              item-value="id"
              hide-no-data
              hide-details
              v-model="form.categoria_idade"
              label="Idade"
            ></v-autocomplete>
          </v-flex>
          <v-flex xs6 md3>
            <v-autocomplete
              :items="faixas"
              item-text="nome"
              item-value="id"
              hide-no-data
              hide-details
              v-model="form.faixa"
              label="Faixa"
            ></v-autocomplete>
          </v-flex>
          <v-flex xs6 md3>
            <v-autocomplete
              :items="pesos"
              item-text="nome"
              item-value="id"
              hide-no-data
              hide-details
              v-model="form.categoria_peso"
              label="Peso"
            ></v-autocomplete>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12>
            <v-checkbox
              label="Absoluto"
              v-model="form.absoluto"
              :value="false"
            ></v-checkbox>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12>
            <v-btn dark large block color="green darken-2" @click="save" :loading="loading">Inscrever</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </div>

</template>

<script>
import {mapActions, mapState} from 'vuex'

const configuracoesConfig = {
  state: 'configuracoes',
  filters: {},
  url: 'api/configuracoes/'
}

const professorConfig = {
  state: 'professores',
  filters: {},
  url: 'api/professores/'
}
export default {
  data () {
    return {
      sexos: [],
      pesos: [],
      faixas: [],
      idades: [],
      form: {
        nome: null,
        sexo: null,
        categoria_peso: null,
        categoria_idade: null,
        faixa: null,
        absoluto: null,
        professor: null
      },
      config: {
        state: 'inscricoes',
        filters: {},
        url: 'api/inscricoes/'
      },
      loading: false
    }
  },
  computed: {
    ...mapState(['equipes', 'configuracoes', 'professores'])
  },
  methods: {
    ...mapActions([
      'load',
      'new',
      'update',
      'remove'
    ]),
    async save () {
      this.loading = true
      this.config.data = this.form
      this.config.data.absoluto = this.config.data.absoluto === null ? false : this.config.data.absoluto
      await this.new(this.config)
      this.loading = false
      this.$router.push('confirmacao')
    }
  },
  async mounted () {
    await this.load(configuracoesConfig)
    await this.load(professorConfig)
    if (this.configuracoes.length > 0) {
      this.sexos = this.configuracoes[0].sexos
      this.faixas = this.configuracoes[0].faixas
      this.pesos = this.configuracoes[0].pesos
      this.idades = this.configuracoes[0].idades
    }
  }
}
</script>
